Input/
Output/

/TextDetection/coco
/TextDetection/data
/TextDetection/weights
/TextDetection/mmocr_trainer.py
/TextRecognition/vietocr/weights
/TextRecognition/TextRecognition.zip
main_trainer_mmocr.py 
/Backup
# cache
.pyc